//= require jquery-ui-theme

// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:

.file.input {
  margin-top: 25px;
  margin-bottom: 25px;

  input[type=file] {
    width: 76%;
    height: 60px;

    border: 1px solid #C9D0D6;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    font-size: 0.95em;
    font-family: Helvetica, Arial, sans-serif;
    outline: none;
    padding: 50px 10px 7px;
  }
}

form fieldset > ol > li.boolean label {
  margin-top: 15px;
}

form fieldset ol > li label {
  padding-top: 8px;
}

.has_many > h3 {
  margin-top: 25px;
  font-size: 24px;
}
